@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
body{
    font-family: 'Roboto', sans-serif !important;
    color: #6B474C;
    background-color: #FFFAFA;
}

p {
    font-family: 'Roboto', sans-serif !important;
    color: #6B474C;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto Slab', serif !important;
    color: #B84252;
}
.logo{
    max-width: 30px;
    
}
.navbar-hover{
    color: #c0c0c0;
}
.navbar-hover:hover{
    color: #FFF;
    font-weight: 500;
}

.text-pink{
    color: #EB5569;
}
.s-color{
    color: #6B474C;
}
.banner{
    margin-top: 50px;
}
.content{
    margin-top: 50px;
}

.text-banner > h1{
    font-weight: 600;
    line-height: 1.3em;
    font-size: 3.5vw;
}

.bg-accent{
    background-color: #6B474C;
}
.page-footer{
    font-size: 13px !important; 
}

.carousel-inner .carousel-item img {
    width: 100%; height: auto;
  }

  @media (max-width: 576px) {
    .center-xs{
        text-align: center;
    }
    .align-center-xs{
        margin-left: auto;
    }
  }

  .btn-pink{
      background-color: #6B474C;
      color: #FFF;
  }

  .btn-pink:hover{
    border-color: #6B474C;
    background-color: #FFF;
    color: #6B474C;
}
.active{
    color: #FFF;
}
.max-height{
    max-height: 150px;
}
#mainNav{
    background-color: #6B474C !important;
}
.header-content{
    background-color: #EB5569;
    padding: 10px;
    color: #FFF;
    border-radius: 5px;
}
.max-size{
    max-height: 100px;
    width: 100px;
}
